.navbar-nav .nav-link {
    color: white !important;
    margin: 0 10px;
    transition: 0.2s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ffc107 !important;
    text-decoration: underline;
}